@page "/personas/editar/{PersonaId:int}"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<h3>Editar Personas</h3>
@if (Persona == null)
{
    <text>Cargando...</text>
}
else
{
    <FormularioPersona OnValidSubmit="Editar" Persona="Persona"></FormularioPersona>
}




@code {
    [Parameter] public int PersonaId { get; set; }
    private Persona Persona;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Persona>($"api/Personas/{PersonaId}");
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("personas");
            }
            else
            {
                Console.WriteLine(await httpResponse.GetBody());
            }
        }
        else
        {
            Persona = httpResponse.Response;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put("api/personas", Persona);
        if (httpResponse.Error)
        {
            Console.WriteLine(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("personas");
        }
    }
}
