@page "/"
@inject ServiciosSingleton singleton
@inject IRepositorio repositorio 

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="Peliculas" />

</div>


<button @onclick="AgregarPelicula">Agregar Pelicula</button>
<p>Singleton count: @singleton.Valor</p>

@code
{
    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();

    }

    void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula() { Titulo = "Nueva Pelicula", Lanzamiento = DateTime.Today });
    }


}

